.Navbar--container {
  display: flex;
  width: 100vw;
  height: 100px;
  background-color: #efefef;
  justify-content: space-between;
}

.Navbar--icon {
  margin: auto 0;
  cursor: pointer;
  width: 215px;
}

.Navbar--nasa {
  margin-left: 5px;
}

.Navbar--search {
  display: flex;
  margin: auto 10px auto;
}
